<section class="d-flex align-items-center justify-content-center">
  <div class="container d-flex flex-column align-items-center">
    <h1 class="text-white fw-bold">ABOUT COMPONENT</h1>
    <div class="d-flex align-items-center py-3">
      <div class="dash me-3"></div>
      <i class="fa-solid fa-star text-white me-3"></i>
      <div class="dash me-3"></div>
    </div>
    <div class="row px-5">
      <div class="col-md-6">
        <div>
          <p class="text-white px-3">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <p class="text-white px-3">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
