/* You can add global styles to this file, and also import other style files */
/* *######### General Styles ##########*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

p {
  margin: 0;
}

:root {
  --mainColor: #2c3e50;
  --secondColor: #1abc9c;
}
