<section class="py-5">
  <div class="container py-5 ">
    <div
      class="d-flex flex-column justify-content-center align-items-center py-4 box "
    >
      <img src="./assets/images/avataaars.svg" alt="" />
      <h1 class="text-white fw-bold ">START FRAMEWORK</h1>
      <div class="d-flex align-items-center py-3 ">
        <div class="dash me-3"></div>
        <i class="fa-solid fa-star text-white me-3"></i>
        <div class="dash me-3"></div>
      </div>
      <p class="text-white">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</section>
